.dropdown-options {
    padding: 5px;
    width: auto;
    justify-content: center;
    text-decoration-color: white;
}

.dropdown-bar {
    justify-content: center;
}

.header {
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
    font-style: bold;
    text-shadow: 2px 2px 4px rgb(64, 158, 252);
}

.description {
    text-align: center;
    padding-top: 50px;
    font-style: italic;
}